<!-- templates/base.html -->

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% load static %}

    <link rel="stylesheet" type="text/css" href="{% static 'app/css/style.css' %}">
    <title>{% block title %}Цифровые навыки{% endblock %}</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet">
</head>

<body>
    {% if messages %}
        <ul class="messages no-bullet">
            {% for message in messages %}
                <li{% if message.tags %} class="{% if message.tags == 'success' %}alert alert-success{% elif message.tags == 'error' %}alert alert-danger{% elif message.tags == 'warning' %}alert alert-warning{% elif message.tags == 'info' %}alert alert-info{% endif %}"{% endif %}>{{ message }}</li>
            {% endfor %}
        </ul>
    {% endif %}

    <!-- Навигационное меню -->
   <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid"> <!-- Заменено на container-fluid -->
        <a class="navbar-brand" href="/">Цифровые навыки</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
                aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item active">
                    <a class="nav-link" href="/">Курсы</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/teachers_list">Преподаватели</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'contacts' %}">Контакты</a>
                </li>
            </ul>
           <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
                 {% if user.is_authenticated %}
                 <li class="nav-item">
                     <a class="nav-link" href="{% url 'profile' %}">Профиль</a>
                 </li>
               {% else %}
                    <li class="nav-item">
                         <a class="nav-link" href="{% url 'login' %}">Личный кабинет</a>
                     </li>
                 {% endif %}
            </ul>
        </div>
    </div>
</nav>

    <!-- Основное содержимое -->
    <div class="container mt-4">
        {% block content %}{% endblock %}
    </div>

    <!-- Подвал сайта -->
    <footer class="bg-dark text-light text-center py-3 mt-4">
        <p>&copy; 2023 Цифровые навыки. Герасимов Павел. OTUS WebPython-2023-10</p>
    </footer>

    <!-- Подключение скриптов -->
    <script src="https://code.jquery.com/jquery-3.6.4.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.min.js"></script>
</body>

</html>
