<!-- templates/contact.html -->

{% extends 'app/base.html' %}

{% block title %}Контакты - Цифровые навыки{% endblock %}

{% block content %}

    <!-- Заголовок страницы -->
    <div class="container mt-4">
        <h1 class="display-4">Контакты</h1>
    </div>

    <!-- Форма для отправки сообщения -->
    <div class="container mt-4">
        <form method="post" action="{% url 'contact_submit' %}">
            {% csrf_token %}
            <div class="mb-3">
                <label for="name" class="form-label">Имя</label>
                <input type="text" class="form-control" id="name" name="name" required>
            </div>
            <div class="mb-3">
                <label for="email" class="form-label">Почта</label>
                <input type="email" class="form-control" id="email" name="email" required>
            </div>
            <div class="mb-3">
                <label for="message" class="form-label">Текст сообщения</label>
                <textarea class="form-control" id="message" name="message" rows="4" required></textarea>
            </div>
            <button type="submit" class="btn btn-primary">Отправить</button>
        </form>
    </div>

{% endblock %}
