{% extends 'app/base.html' %}

{% block content %}

    <!-- Заголовок и описание сайта -->
    <div class="container mt-4">
        <div class="jumbotron">
            <h1 class="display-4">Цифровые навыки для успешной карьеры</h1>
            <p class="lead">Добро пожаловать на образовательный портал по развитию цифровых навыков! Мы предлагаем разнообразные
                курсы, охватывающие широкий спектр тем, связанных с цифровой областью.</p>
            <p>На нашем портале вы найдете обучение по программированию и разработке ПО, цифровому маркетингу и аналитике,
                кибербезопасности, обработке данных и исследованию данных, а также навыкам коммуникации и управлению
                проектами. Мы создали гибкую систему обучения, которая подходит как для начинающих, так и для опытных
                специалистов. Наши курсы предоставляют возможность получить практические навыки, необходимые для успешной
                карьеры в современном мире информационных технологий.</p>
 </div>
    </div>

    <!-- Секция с курсами -->
    <div class="container mt-4">
        <h2>Курсы по программированию и разработке ПО</h2>
       <div class="row">
            {% for course in courses %}
                <div class="col-md-4 mb-4">
                    <div class="card">
                        <img src="{{ course.image }}" class="card-img-top" alt="Изображение курса">
                        <div class="card-body">
                            <h5 class="card-title">{{ course.title }}</h5>
                            <p class="card-text">{{ course.description }}</p>
                            <a href="{% url 'course_detail' pk=course.id %}" class="btn btn-primary">Подробнее</a>
                        </div>
                    </div>
                </div>
                {% if not forloop.last %}
                    {% if forloop.counter|divisibleby:3 %}
                        </div><div class="row">
                    {% endif %}
                {% endif %}
            {% endfor %}
        </div>
    </div>
<div>
 <a href="/create_course" class="btn btn-primary">Добавить курс</a>
</div>
{% endblock %}