{% extends 'app/base.html' %}

{% block content %}
    <div class="container mt-4">
        <h2>Личный кабинет (Редактирование)</h2>
        <form method="post" enctype="multipart/form-data">
            {% csrf_token %}
            <div class="mb-3">
                <label for="photo" class="form-label">Фото профиля</label>
                {{ form.photo }}
            </div>
            <div class="mb-3">
                <label for="full_name" class="form-label">ФИО</label>
                {{ form.full_name }}
            </div>
            <div class="mb-3">
                <label for="email" class="form-label">Email адрес</label>
                {{ form.email }}
            </div>
            <div class="mb-3">
                <label for="age" class="form-label">Возраст</label>
                {{ form.age }}
            </div>
            <div class="mb-3">
                <label for="experience" class="form-label">Стаж работы</label>
                {{ form.experience }}
            </div>
            <div class="mb-3">
                <label for="workplace" class="form-label">Место работы</label>
                {{ form.workplace }}
            </div>
            <div class="mb-3">
                <label for="bio" class="form-label">Биография</label>
                {{ form.bio }}
            </div>
            <a href="{% url 'profile' %}" class="btn btn-secondary">Отмена</a>
            <button type="submit" class="btn btn-primary">Сохранить изменения</button>
        </form>
    </div>
{% endblock %}
