{% extends 'app/base.html' %}

{% block content %}

    <!-- Страница преподавателя -->
    <div class="container mt-4">
        <div class="row">
            <div class="col-md-4">
                <img src="https://via.placeholder.com/300" class="img-fluid rounded" alt="Фото преподавателя">
            </div>
            <div class="col-md-8">
                <h2>Имя Фамилия</h2>
                <p>Описание преподавателя...</p>

                <div class="personal-info">
                    <h3>Личная информация</h3>
                    <ul>
                        <li>Возраст: 35 лет</li>
                        <li>Стаж работы: 10 лет</li>
                        <li>Место работы: Университет XYZ</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>


{% endblock %}